@media screen and (width<=412px) {
    .login-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
    .logo{
        height: 90px;
        width: 90px;
        margin-top: 160px;
        margin-left: 134px;
        margin-right: 136px;
    }  
    .form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        margin-top: 80px;
    }
    .email{
        width: 238px;
        height: 42px;
        padding-left: 15px;
        border: 1px solid;
        background: #1F191966 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 3px 3px #FFFDFD40, 3px 3px 3px #4A494947;
        opacity: 1;
        color: white;
        border-radius: 20px;
        border: none;
        outline: none;
    }
    .email::placeholder{
        translate: 10px 0 0;
    } 
    #login{
        translate: 0 -25px 0;
    }
    .fname{
        width: 238px;
        height: 42px;
        padding-left: 15px;
        border: 1px solid;
        background: #1F191966 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 3px 3px #FFFDFD40, 3px 3px 3px #4A494947;
        opacity: 1;
        color: white;
        border-radius: 20px;
        border: none;
        outline: none;
    }
    .fname::placeholder{
        translate: 10px 0 0;
    }
    .alert{
        color: red;
    }
    .register_alert{
        color: white;
    }
    .password{
        width: 238px;
        height: 42px;
        padding-left: 15px;
        color: white;
        border: 1px solid;
        background: #1F191966 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 3px 3px #FFFDFD40, 3px 3px 3px #4A494947;
        opacity: 1;
        border-radius: 20px;
        outline: none;
        border: none;
    }
    .password::placeholder{
        translate: 10px 0 0;
    }
    .signin{
        height: 42px;
        width: 238px;
        background: transparent linear-gradient(180deg, #00FF2580 0%, #000000 100%, #36A54680 100%) 0% 0% no-repeat padding-box;
        mix-blend-mode: normal;
        border: 2px solid #8CFF0026;
        color: #FFFFFF8C;
        border-radius: 20px;
        font-weight: 600;
        opacity: 1;
    }
    .forgot{
        font: normal normal normal 15px/20px Mulish;
        letter-spacing: 0.02px;
        color: #36A546;
        opacity: 1;
        text-decoration: none;
    }
    .create{
        font: normal normal normal 15px/20px Mulish;
        letter-spacing: 0.02px;
        color: #36A546;
        opacity: 1;
        text-decoration: none;
    }
    .homepage{
        position: relative;
    }
    .helpcenter{
        float: right;
        margin-top: 22px;
        margin-right: 22px;
    }
    .moptro{
        height: 70px;
        width: 71px;
        position: relative;
        top: 55px;
        margin-right: 144px;
        margin-left: 145px;
        background: transparent 0% 0% no-repeat padding-box;
        mix-blend-mode: normal;
        opacity: 1;
    }
    .circle{
        color: white;
        border: 0px solid;
        width: fit-content;
        height: fit-content;
        border-radius: 30px;
        position: relative;
        top: 98px;
        left: 221px;
        right: 124px;
        background: #5E5E5EB5 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 4px 0px #00000040;
        mix-blend-mode: normal;
        border: 1px solid #FFFEFE00;
        opacity: 0.4;
    }
    .notification{
        background: none;
        padding-right:13px;
        padding-left: 13px;
        margin-top:7px;
        margin-bottom: 7px;
        font-size: 15px;
        font: normal normal normal 18px/25px Source Sans Pro;
        color: #36A546;
        font-weight: 900;
        opacity: 1;
    }
    .navigation{
        position: relative;
        margin-left: 2px;
        position: fixed;
        bottom: 0%;
        display: flex;
        height: 63px;
        background: transparent linear-gradient(262deg, #0F2323 0%, #0F2323 40%) 0% 0% no-repeat padding-box;
        box-shadow: inset 8px 4px 4px #00000040;
        mix-blend-mode: normal;
        border: 1px solid #0F2323;
        opacity: 1;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .icon{
        height: 30px;
        width: 30px;
        padding-top: 10px;
        padding-left: 90px; 
        padding-right: 90px;
        background: none;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .button_click_user{
        height: 30px;
        width: 30px;
        padding-top: 20px;
        padding-left: 90px; 
        padding-right: 90px;
        padding-bottom: 10px;
        background: none;
        border-top-right-radius: 30px;
        border: 1px solid white;
        filter: blur(1px);
    }
    .button_click_home{
        height: 30px;
        width: 30px;
        padding-top: 20px;
        padding-left: 90px; 
        padding-right: 90px;
        padding-bottom: 10px;
        background: none;
        border-top-left-radius: 30px;
        border: 1px solid white;
        filter: blur(1px);
    }
    .productivity_container{
        position: relative;
        width: fit-content;
        height: fit-content;
        margin-left: 6%;
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #5E5E5E82;
        border-radius: 30px;
        padding-bottom: 20px;
    }
    .dashboard_name{
        height: 60px;
        width: 360px;
        background-color: #1A2C2C99;
        border-radius: 30px;
    }
    .dashboard_name h6{
        background: none;
        height: 25px;
        text-align: center;
        font: normal normal bold 18px Source Sans Pro;
        color: #FFFFFFB3;
        opacity: 0.84;
        translate:0 -20px 0;
    }
    .productivity_level{
        height: fit-content;
        width: fit-content;
        border-radius: 30px;
        background: none;
        padding: 10px;
    }
    .container_1{
        height: fit-content;
        width: fit-content;
        border-radius: 30px;
        background:none;
        color: white;  
        display: flex;
        flex-direction: column;
        padding-bottom: 10px; 
        padding-left: 10px;
        padding-right: 10px;
    }
    .container_2{
        background: none;
        height: fit-content;
        width: 320px;
    }
    .productivity_day{
        float: left;
        opacity: 0.8;
    }
    .percent{
        float: right;
        color:#36A546 ;
    }
    p{
        background: none;
    }
    .bar{
        height: 11px;
        width: 328px;
        background: none;
    }
    .monday{
        background-color: #36A54680;
        border: 1px solid #36A546;
        float: left;
        width: 15px;
        height: 11px;
        border-radius: 30px;
    }
    .tuesday{
        background-color: #36A54680;
        border: 1px solid #36A546;
        float: left;
        width: 170px;
        height: 11px;
        border-radius: 30px;
    }
    .wednesday{
        background-color: #36A54680;
        border: 1px solid #36A546;
        float: left;
        width: 230px;
        height: 11px;
        border-radius: 30px;
    }
    .thursday{
        background-color: #36A54680;
        border: 1px solid #36A546;
        float: left;
        width: 180px;
        height: 11px;
        border-radius: 30px;
    }
    .friday{
        background-color: #36A54680;
        border: 1px solid #36A546;
        float: left;
        width: 165px;
        height: 11px;
        border-radius: 30px;
    }
    .saturaday{
        background-color: #36A54680;
        border: 1px solid #36A546;
        float: left;
        width: 200px;
        height: 11px;
        border-radius: 30px;
    }
    .search_container{
        position: relative;
        height: 55px;
        width: 298px;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin-top: 20%;
        margin-left: 13%;
        border-radius: 30px;
        background-color: #5E5E5E82;
    }
    .employee{
        position: relative;
    }
    .employee_container_0{
        position: relative;
    }
    .search_bar{
        height: 55px;
        width: 250px;
        outline: none;
        border: none;
        border-radius: 30px;
        background:none;
        color: white;
        font-size: 20px;
    }
    .search_bar::placeholder{
        translate: 30px 0 0;
        font-weight: 800;
        font-size: 20px;
        color: #FFFFFFB3;
    }
    .search_icon{
        height: 25px;
        translate:0 11px 0;
        padding-right: 10px;
        width: 25px;
        background: none;
    }
    .circle_1{
        translate: 0 10px 0;
        color: white;
        translate: -10px 0 0;
        border: 0px solid;
        width: fit-content;
        height: fit-content;
        border-radius: 30px;
        position: relative;
        background: #5E5E5EB5 0% 0% no-repeat padding-box;
        mix-blend-mode: normal;
        border: 1px solid black;
    }
    .circle_id{
        background: none;
        padding-right:10px;
        padding-left: 10px;
        margin-top:3px;
        background: none;
        margin-bottom: 3px;
        font-size: 8px;
        font: normal normal normal 18px/25px Source Sans Pro;
        color: white;
        font-weight: 600;
        opacity: 1;
    }
    .employe_details{
        position: relative;
        color: white;
        display: flex;
        column-gap: 10px;
        width: 280px;
        height: 130px;
        background-color: #5E5E5E82;
        margin-top: 10%;
        margin-left: 15%;
        padding: 10px;
        border-radius: 30px;
    }
    .titles{
        height: 30px;
        width: 250px;
        background: none;
        display: grid;
        background: none;
        translate:0 -10px 0;
        grid-template-columns: 40px 50px 1fr;
    }
    .details{
        text-align: left;
        background: none;
        float: left;
    }
    .listview{
        display: flex;
        flex-direction: column;
        row-gap: 200px;
    }
    .colon{
        background: none;
    }
    .title{
        background: none;
        text-align: left;
        font-weight: 200;
        opacity: 0.8;
    }
    .list_container_0{
        background: none;
    }
    #role{
        color:#36A54680;
    }
    #dob{
        color: #8B8000;
    }
    
}
@media screen and (width<=390px) {
    .employee{
        position: relative;
        translate: -10px 0 0;
    }
    .productivity_container{
        margin-left: 3%;
        margin-right: 3%;
    }
    .navigation{
        position: relative;
        margin-left: 2px;
        position: fixed;
        bottom: 0%;
        display: flex;
        height: 63px;
        background: transparent linear-gradient(262deg, #0F2323 0%, #0F2323 40%) 0% 0% no-repeat padding-box;
        box-shadow: inset 8px 4px 4px #00000040;
        mix-blend-mode: normal;
        border: 1px solid #0F2323;
        opacity: 1;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .icon{
        height: 25px;
        width: 25px;
        padding-top: 10px;
        padding-left: 85px; 
        padding-right: 85px;
        background: none;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .button_click_user{
        height: 25px;
        width: 25px;
        padding-top: 20px;
        padding-left: 85px; 
        padding-right: 85px;
        padding-bottom: 10px;
        background: none;
        border-top-right-radius: 30px;
        border: 1px solid white;
        filter: blur(1px);
    }
    .button_click_home{
        height: 25px;
        width: 25px;
        padding-top: 20px;
        padding-left: 85px; 
        padding-right: 85px;
        padding-bottom: 10px;
        background: none;
        border-top-left-radius: 30px;
        border: 1px solid white;
        filter: blur(1px);
    }
}